
/* Search form
----------------------------*/
.joke__search {
  padding: 3em 2em;
  margin: 0 auto;
  text-align: center;
}

.joke__search form {
  display: block;
  margin-bottom: 4em;
}

.joke__search input[type="text"] {
  display: block;
  font-size: 1.15rem;
  padding: 0.75em 1.125em;
  border-radius: 4px;
  border: 3px solid #212121;
  width: 100%;
}

.joke__search input[type="text"]:focus {
  outline: none;
}

.joke__search button {
  cursor: pointer;
  display: inline-block;
  background: none;
  font-size: 1.15rem;
  font-weight: 600;
  margin: 1.5em 1em 0 0;
  padding: 0.75em 1.25em;
  border-radius: 4px;
  border: 3px solid #212121;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.joke__search button:last-child {
  margin-right: 0;
}

.joke__search button:hover {
  background: #212121;
  color: #fff;
}

.joke__search button:focus {
  outline: none;
}

.joke__search button:disabled {
  background: #fff;
  color: #888;
  cursor: default;
  border: 3px solid #888;
}

.joke__search ::placeholder {
  color: #212121;
}

/* Search results
----------------------------*/

.joke__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.joke {
  background: #eee;
  font-size: 1.25rem;
  margin: 1em 0;
  padding: 2em;
  border-radius: 4px;
}

/* Media queries
----------------------------*/

@media (min-width: 768px) {

  .joke__search {
    max-width: 42em;
    padding: 3em;
  }

}